* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
::-moz-selection { 
  color: white;
  background: red;
}

::selection {
  color: white;
  background: red;
}
/*===========================
		input filed
=============================*/



/*bootstrap value change start*/
.form-control:focus,
.form-select:focus {
  border-color: #ff0000 !important;
  box-shadow: 0 0 5px rgba(232, 67, 67, 1) !important;
}
.form-check-input:checked,
.form-select:checked {
    background-color: #ff0000;
    border-color: #ff0000;
}

.shadow {
    box-shadow: 0 .5rem 1rem rgba(232, 67, 67, 0.2)!important;
}
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(232, 67, 67, 0.2);
    border-radius: .25rem;
}
/*bootstrap value change end */






/*======================
		Login page
========================*/
.fromtable {
	width: 330px;
}

/*======================
		Sign Up page
========================*/
.fieldfile>.photo {
	width: 250px;
	height: 250px;
}
.fieldfile>.photo img {
	width: 100%;
	height: 100%;
}


.card-body .table img{
	width: 80px;
}
.card-body .table {
	/*text-align:center;*/
}

/*======================
		profile page
========================*/
.profile-head {
	width: 100%;
	height: 300px;
}

.profile-pic  {
	margin-top: 100px;
}
.user-info-table {
	margin-top: 150px;
}
.pic img {
	display: block;
	margin: 100px auto 0 auto;
}


.modal .modal-body img {
    display: block;
    max-width: 100%;
}
.preview {
    overflow: hidden;
    width: 160px; 
    height: 160px;
    margin: 10px;
    border: 1px solid red;
}

/*------------------------------
		confarm Box style
--------------------------------*/
.confirm-box {
	background: rgba(0,0,0,0.5);
	width: 100%;
	height:100%;
	position: fixed;
	top:0;
	left:0;
	z-index: 9999;
	display: flex;
	justify-content: center;
	align-items: center;
}
.message-box {
	background-color: white;
	text-align: center;
	font-size:16px;
	line-height: 1.5;
	padding:20px;
	border-radius:5px;
	box-shadow:0 0 10px rgba(0,0,0,0.5)
}
.button-box{
	margin-top:30px;
}
.yes-box,
.no-box {
	padding: 10px 20px;
	font-size: 16px;
	margin: 0 20px;
	border:none;
	border-radius: 5px;
	cursor: pointer;
}
.yes-box {
	background-color: green;
	color:#fff;
}
.no-box {
	background-color: red;
	color:#fff;
}

/*-----------------------------------
	singup form cursor pointer 
------------------------------------*/


.interested-nameField fieldset input,
.interested-nameField fieldset label,
.gendreField fieldset label,
.gendreField fieldset input {
	cursor: pointer;
}
.form-check-input,
.form-select,
.form-select option,
.form-check-label {
	cursor: pointer;
}

.header {
    background: #fff;
    padding: 28px;
    box-shadow: 1px 2px 27px rgba(232, 67, 67, 0.4);
    border-radius: 15px;
    border: 1px solid rgba(232, 67, 67, 0.4);
}

.navbar-danger .navbar-nav .nav-link {
	color: black;
	font-size: 16px;
}
.navbar-danger .navbar-nav .nav-link:focus,
.navbar-danger .navbar-nav .nav-link:hover {
	color: red;
}
.navbar-danger .navbar-nav .nav-item {
	margin-left: 15px;
}
/*------------------------------------
		Footer 
--------------------------------------*/


footer p {
	text-align:center;
}